.App {
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.75em;
    font-size: 16px;
    background-color: #15202B;
    color: #aaa;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #22303c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.Button:hover {
    background-color: #45779e !important;
}

h4 {
    font-size: small
}